<body>
  <div id="main-container" class="container">
  <h1>Simple Feed</h1>

  <%= render :template => 'posts/new' %>

  <% @posts.each do |post| %>
    <div id="row_<%= post.id %>" class="panel panel-default" style="margin-top:10px">
      <div class="panel-body">
        <div id="content" class="col-md-10">
          <%= simple_format(post.description) %>
        </div>
        <div id="sidebar" class="col-md-2">
          <%= button_to 'Delete Post', post_path(post), method: :delete %>
        </div>
      </div>
      <div class="panel-footer container-fluid">
        <div id="footer" class="col-md-4"><%= time_ago_in_words(post.created_at) %> ago</div>
      </div>
    </div>
    <% end %>
  </div>
</body>
